# Firebase Configuration
VITE_FIREBASE_API_KEY= "AIzaSyAiUrw4toY-OvhQaBxrFMYfQQNP7hjADTM",
VITE_FIREBASE_AUTH_DOMAIN= "diem-905d4.firebaseapp.com",
VITE_FIREBASE_PROJECT_ID=  "diem-905d4",
VITE_FIREBASE_STORAGE_BUCKET= "diem-905d4.firebasestorage.app",
VITE_FIREBASE_MESSAGING_SENDER_ID= "817108716255",
VITE_FIREBASE_APP_ID= "1:817108716255:web:c151c7a6d980f07c30776a",

# Google AI / Gemini API Key
VITE_GOOGLE_AI_API_KEY="AIzaSyAx_M14leoGLLr72t9qKaNEPYP8fUKWfJE"
